In [251]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [252]:
import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds



driver = webdriver.Chrome()

#driver.get("https://www.naukri.com/")

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [253]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\admin\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: tqdm in c:\users\admin\anaconda3\lib\site-packages (from webdriver-manager) (4.64.1)
Requirement already satisfied: python-dotenv in c:\users\admin\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: packaging in c:\users\admin\anaconda3\lib\site-packages (from webdriver-manager) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging->webdriver-manager) (3.0.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests->webdriver-manager) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.5)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [85]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [12]:
job_title

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst | HyVee',
 'Data Analyst with ANSR']

In [15]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [16]:
job_location

['Bangalore/ Bengaluru, Karnataka, Gurgaon/ Gurugram, Haryana',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/ Bengaluru, Karnataka']

In [17]:
company_tags=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags [0:10]:
    company=i.text
    company_name.append(company)

In [18]:
company_name

['Delhivery',
 'Eastvantage',
 'Synechron',
 'ANZ',
 'Indegene',
 'Persolkelly India',
 'Everest Vacuum',
 'Truthfools',
 'Talent500',
 'ANSR']

In [19]:
exp_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [20]:
experience_required

['1-3 Yrs',
 '4-6 Yrs',
 '5-8 Yrs',
 '1-5 Yrs',
 '1-3 Yrs',
 '0-2 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '6-9 Yrs']

In [42]:
len(job_title), len(job_location), len(company_name), len(experience_required)

(10, 10, 10, 10)

In [21]:
df=pd.DataFrame({'Job_Title': job_title, 'Location': job_location, 'Company': company_name, 'Experience': experience_required})
df

,Job_Title,Location,Company,Experience
0,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
1,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
2,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,5-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,Indegene,1-3 Yrs
5,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
6,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
7,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Truthfools,3-8 Yrs
8,Data Analyst | HyVee,Bangalore/Bengaluru,Talent500,3-5 Yrs
9,Data Analyst with ANSR,"Bangalore/ Bengaluru, Karnataka",ANSR,6-9 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [22]:
driver.get("https://www.naukri.com/")

In [26]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [29]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [31]:
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [32]:
job_title=[]
job_location=[]
company_name=[]

In [33]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [34]:
job_title

['Data Science Specialist',
 'Data Scientist',
 'DATA SCIENTIST',
 'Data Scientist',
 'ACN - Applied Intelligence - Finance - Data Science - 09',
 'Senior Data Scientist',
 'Sr . Data Scientist / Manager',
 'Data Scientist',
 'Data Scientist with Retail Domain',
 'Data Scientist']

In [36]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [37]:
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/ Bengaluru, Karnataka, Noida, Uttar Pradesh',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, Noida, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Noida, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Nagpur, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Delhi / NCR',
 'Bangalore/Bengaluru, Noida, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore']

In [38]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    comp=i.text
    company_name.append(comp)

In [39]:
company_name

['Accenture',
 'PwC',
 'Walmart',
 'HCLTech',
 'Accenture',
 'Fractal Analytics',
 'Novitas Infotech',
 'Novitas Infotech',
 'TRH Consultancy Services',
 'TRH Consultancy Services']

In [41]:
len(job_title), len(job_location), len(company_name)

(10, 10, 10)

In [40]:
df=pd.DataFrame({'Job_Title': job_title, 'Location': job_location, 'Company':company_name})
df

,Job_Title,Location,Company
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC
2,DATA SCIENTIST,Bangalore/Bengaluru,Walmart
3,Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Noid...",HCLTech
4,ACN - Applied Intelligence - Finance - Data Sc...,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Accenture
5,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
6,Sr . Data Scientist / Manager,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech
7,Data Scientist,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech
8,Data Scientist with Retail Domain,"Bangalore/Bengaluru, Kolkata, Mumbai, Nagpur, ...",TRH Consultancy Services
9,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services

# You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respectiveboxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scrapeddata.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [103]:
driver.get("https://www.naukri.com/")

In [106]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys("Data Scientist")

In [105]:
location=driver.find_element(By.CLASS_NAME, "suggestor-input ")
location.send_keys("Delhi/NCR")
#tried applying filters by code, failed. So applied manually itself.

In [107]:
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [94]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [125]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [126]:
len(job_title)

10

In [119]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [136]:
len(job_location[:10])

10

In [117]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    comp=i.text
    company_name.append(comp)

In [128]:
len(company_name)

10

In [132]:
exp_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [133]:
len(experience_required)

40

In [157]:
experience=experience_required[:10]

In [160]:
location=job_location[:10]

In [161]:
len(job_title), len(company_name),len(location), len(experience)

(10, 10, 10, 10)

In [162]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'Job_Title': job_title, 'Location': job_location, 'Company':company_name, 'Location':location})
df

,Job_Title,Location,Company
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",Dreambig It Solutions India
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos
4,Data Scientist,Noida,Times Internet
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar
6,Intern,Gurgaon/Gurugram,Tower Research Capital
7,Hiring For Data Scientist,Remote,Infogain
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas
9,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner

# To scrape the data you have to go through following steps:

Go to Flipkart webpage by url :https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data asusual.

In [175]:
driver.get("https://www.flipkart.com/")

In [176]:
item=driver.find_element(By.CLASS_NAME,"_3704LK")
item.send_keys('sunglasses')

In [179]:
search=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [207]:
brand_name=[]
product_description=[]
price=[]

In [181]:
brand_tags=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand=i.text
    brand_name.append(brand)

In [182]:
product_tags=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in product_tags:
    prod=i.text
    product_description.append(prod)

In [183]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    prce=i.text
    price.append(prce)

In [208]:
Discount=[]

In [200]:
discount_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div[2]/a[2]/div/div[3]/span')
for i in discount_tags:
    discount=i.text
    Discount.append(discount)

In [201]:
len(brand_name), len(discount), len(price), len(product_description)

(45, 7, 40, 37)

In [213]:
start=0
end=2
for page in range(start, end):
    brand_tags=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand_name.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
        next_button.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span"}
  (Session info: chrome=115.0.5790.102); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
Backtrace:
	GetHandleVerifier [0x004BA813+48355]
	(No symbol) [0x0044C4B1]
	(No symbol) [0x00355358]
	(No symbol) [0x003809A5]
	(No symbol) [0x00380B3B]
	(No symbol) [0x003AE232]
	(No symbol) [0x0039A784]
	(No symbol) [0x003AC922]
	(No symbol) [0x0039A536]
	(No symbol) [0x003782DC]
	(No symbol) [0x003793DD]
	GetHandleVerifier [0x0071AABD+2539405]
	GetHandleVerifier [0x0075A78F+2800735]
	GetHandleVerifier [0x0075456C+2775612]
	GetHandleVerifier [0x005451E0+616112]
	(No symbol) [0x00455F8C]
	(No symbol) [0x00452328]
	(No symbol) [0x0045240B]
	(No symbol) [0x00444FF7]
	BaseThreadInitThunk [0x75B300C9+25]
	RtlGetAppContainerNamedObjectPath [0x77507B4E+286]
	RtlGetAppContainerNamedObjectPath [0x77507B1E+238]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb/product-
reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market

place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:

Rating
Review summary
Full review
You have to scrape this data for first 100reviews. Note: All the steps required during scraping should be done through code only and not manually.

In [ ]:
driver.get('https://www.flipkart.com/')

In [83]:
result=driver.find_element(By.CLASS_NAME, "Pke_EE")
result.send_keys('apple-iphone-11-black-64')

In [85]:
search=driver.find_element(By.CLASS_NAME, "_2iLD__")
search.click()

In [86]:
Rating = []
Review_summary = []
Full_review = []

In [101]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating=i.text
    Rating.append(rating)

In [107]:
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags:
    review=i.text
    Review_summary.append(review)

In [103]:
full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_tags:
    full=i.text
    Full_review.append(full)

In [105]:
Rating

['4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6']

In [ ]:
start=0
end=10
for page in range(start, end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        Rating.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
        next_button.click()

In [ ]:
start=0
end=10
for page in range(start, end):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        Review_summary.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
        next_button.click(

In [ ]:
start=0
end=10
for page in range(start, end):
    full_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in full_tags:
        Full_review.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
        next_button.click()

In [113]:
len(Rating)

8

In [ ]:
df = pd.DataFrame({'Rating':Rating,'Review_summary':Review_summary,'Full_review':Full_review})

df

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [254]:
driver.get('https://www.motor1.com/')

In [256]:
cars=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
cars.send_keys('50 most expensive cars in the world')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"m1-search-panel-button m1-search-form-button-animate icon-search-svg")
search.click()

In [262]:
car_name=[]
car_price=[]

In [211]:
name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags[:50]:
    name=i.text
    car_name.append(name)

In [149]:
price_tags=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[6]/strong')
for i in price_tags[:50]:
    price=i.text
    car_price.append(price)

In [151]:
car_name

['Ferrari LaFerrari']

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [138]:
driver.get("https://www.jagranjosh.com/")

In [147]:
Thought=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[1]/div/div[1]/div/section[1]/div[1]/div[1]/div[2]/input[1]')
Thought.send_keys('GK')

In [154]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[1]/div/div[1]/div/section[1]/div[1]/div[1]/div[2]/input[2]')
search.click()

In [155]:
heading=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[3]/div/div/div/form/div[2]/div/input[1]')
heading.send_keys('List of all Prime Ministers of India')

In [156]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[3]/div/div/div/form/div[2]/div/input[2]')
search.click()

In [157]:
PM_Name=[]
Born_Dead=[]
Term=[]
Remark=[]

In [158]:
name_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in name_tags:
    name=i.text
    PM_Name.append(name)

In [159]:
born_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[3]/p')
for i in born_tags:
    born=i.text
    Born_Dead.append(born)

In [172]:
term_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[4]/p[1]/span')
for i in term_tags[:100]:
    term=i.text
    Term.append(term)

In [161]:
remark_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[5]/p')
for i in remark_tags:
    remark=i.text
    Remark.append(remark)

In [174]:
PM_Name

['Jawahar Lal Nehru']

# Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [20]:
driver.get("https://www.flipkart.com/")

In [21]:
item=driver.find_element(By.CLASS_NAME,"Pke_EE")
item.send_keys('sneakers')

In [23]:
search=driver.find_element(By.CLASS_NAME, "_2iLD__")
search.click()

In [24]:
brand_name=[]
product_description=[]
price=[]

In [26]:
brand_tags=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand=i.text
    brand_name.append(brand)

In [32]:
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags:
    product=i.text
    product_description.append(product)

In [33]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    prce=i.text
    price.append(prce)

In [34]:
len(brand_name), len(product_description), len(price)

(40, 40, 40)

In [41]:
start=0
end=2
for page in range(start, end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[:100]:
        brand_name.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
        next_button.click()

In [43]:
len(brand_name)

208

In [44]:
start=0
end=2
for page in range(start, end):
    product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags[:100]:
        product_description.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
        next_button.click()

In [45]:
start=0
end=2
for page in range(start, end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[:100]:
        price.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
        next_button.click()

In [46]:
len(brand_name), len(product_description), len(price)

(208, 120, 120)

In [48]:
brand=brand_name[:100]

In [49]:
description=product_description[:100]

In [50]:
Price=price[:100]

In [52]:
len(brand), len(description), len(Price)

(100, 100, 100)

In [53]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'Brand_Name':brand, 'Product_Description':description, 'Product_Price':Price})
df

,Brand_Name,Product_Description,Product_Price
0,Airson,Junior Zero1 Sports shoes for Men | Gym Traini...,₹989
1,Sparx,Stylish and Comfirtable Shoes For Mens Sneaker...,₹899
2,Magnolia,Modern Trendy Sneakers boot Sneakers Sneakers ...,₹499
3,BRUTON,Modern Trendy Shoes Sneakers For Men,₹299
4,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹389
...,...,...,...
95,asian,Wellshore Sneakers For Men,₹636
96,Brothers Gift,Men's Casual sneaker shoes running shoes walki...,₹499
97,KILLER,Sneakers For Men,₹699
98,Impakto by Ajanta,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹479
99,RapidBox,9019 Sneakers For Men,"₹1,385"

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:

In [126]:
driver.get('https://www.amazon.in/')

In [129]:
item=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
item.send_keys('Laptop')

In [130]:
search=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [131]:
Name=[]
Rating=[]
Price=[]

In [133]:
name_tags=driver.find_elements(By.XPATH, '//span[@class="a-size-base-plus a-color-base a-text-normal"]')
for i in name_tags[:10]:
    name=i.text
    Name.append(name)

In [134]:
rating_tags=driver.find_elements(By.XPATH, '//i[@class="a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom"]')
for i in rating_tags[:10]:
    rating=i.text
    Rating.append(rating)

In [135]:
price_tags=driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in price_tags[:10]:
    prce=i.text
    Price.append(prce)

In [136]:
len(Name), len(Rating), len(Price)

(10, 10, 10)

In [137]:
df=pd.DataFrame({'Product_Name': Name, 'Product_Rating':Rating, 'Product_Price':Price})
df

,Product_Name,Product_Rating,Product_Price
0,Acer Aspire 7 AMD Ryzen 5 Hexa Core 5500U 15.6...,,"56,990"
1,Acer Swift X Intel Core i7-11390H Processor 16...,,"1,26,524"
2,Fujitsu UH-X 12th Gen Intel Evo Core i7 13.3 i...,,"89,990"
3,"Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...",,"86,420"
4,"Dell Alienware x14 R2 Gaming Laptop, Intel Cor...",,"2,38,490"
5,Acer [SmartChoice] Predator Helios Neo 16 Gami...,,"1,24,990"
6,"HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...",,"79,990"
7,Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...,,"62,990"
8,Acer Nitro 5 AN515-58 Gaming Laptop 12th Gen I...,,"1,04,990"
9,"MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...",,"71,490"

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes

3. Than scrap a) Quote b) Author c) Type Of Quotes

In [214]:
driver.get('https://www.azquotes.com/')

In [229]:
topquotes=[]
Author=[]
Type=[]

In [217]:
topquotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in topquotes_tags[:100]:
    quotes=i.text
    topquotes.append(quotes)

In [218]:
topquotes

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.',
 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.',
 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.',
 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.',
 'Kindness is the language which the deaf can hear and the blind can see.',
 'Most folks are as happy as they make up their minds to be.',
 'A happy marriage is the union of two good forgivers.',
 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.',
 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.',
 "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?",
 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.',
 'I never think of the future - it comes soon enough.',
 "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.",
 'Failure is simply the opportunity to begin again, this time more intelligently.',
 'Music expresses that which cannot be put into words.',
 'Good actions are a guard against the blows of adversity.',
 'Positive thinking will let you do everything better than negative thinking will.',
 "You have enemies? Good. That means you've stood up for something, sometime in your life.",
 "You don't have to be great to start, but you have to start to be great",
 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.',
 "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.",
 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.',
 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.',
 "Once you replace negative thoughts with positive ones, you'll start having positive results.",
 "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.",
 'All my life through, the new sights of Nature made me rejoice like a child.',
 "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.",
 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.',
 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.',
 'Time you enjoy wasting, was not wasted.',
 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.',
 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.',
 "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.",
 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.',
 'I say that the most liberating thing about beauty is realizing that you are the beholder.',
 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.',
 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.',
 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.',
 'I am a Soldier, I fight where I am told, and I win where I fight.',
 "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.",
 "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.",
 'Expect the best. Prepare for the worst. Capitalize on what comes.',
 'I became insane, with long intervals of horrible sanity.',
 'Failure is a detour, not a dead-end street.',
 'I am not a product of my circumstances. I am a product of my decisions.',
 'You can cut all the flowers but you cannot keep spring from coming.',
 "Life doesn't run away from nobody. Life runs at people.",
 'In order to succeed, your desire for success should be greater than your fear of failure.',
 "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.",
 'Too many of us are not living our dreams because we are living our fears.',
 'If the only prayer you ever say in your entire life is thank you, it will be enough.',
 "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.",
 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.',
 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.',
 'This is one small step for a man, one giant leap for mankind.',
 "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.",
 "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.",
 "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.",
 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!',
 "Failure is not the opposite of success; it's part of success.",
 'No one has ever become poor by giving.',
 'It is not my ability, but my response to God’s ability, that counts.',
 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.',
 'No matter what people tell you, words and ideas can change the world.',
 'A man should never neglect his family for business.',
 'Those who dare to fail miserably can achieve greatly.',
 'The two most important days in your life are the day you are born and the day you find out why.',
 'We must be global Christians with a global vision because our God is a global God.',
 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.',
 'Don’t let the noise of others’ opinions drown out your own inner voice.',
 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.',
 "How old would you be if you didn't know how old you are?",
 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.',
 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.',
 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.',
 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.',
 'When the going gets weird, the weird turn pro.',
 "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.",
 'If you think you are too small to make a difference, try sleeping with a mosquito.',
 "God doesn't require us to succeed, he only requires that you try.",
 'Change your thoughts and you change your world.']

In [219]:
len(topquotes)

100

In [220]:
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[:100]:
    author=i.text
    Author.append(author)

In [222]:
len(Author)

100

In [223]:
type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_tags[:100]:
    type=i.text
    Type.append(type)

In [225]:
len(Type)

100

In [237]:
start=0
end=10
for page in range(start, end):
    topquotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in topquotes_tags:
        topquotes.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
        next_button.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a"}
  (Session info: chrome=115.0.5790.102); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
Backtrace:
	GetHandleVerifier [0x004BA813+48355]
	(No symbol) [0x0044C4B1]
	(No symbol) [0x00355358]
	(No symbol) [0x003809A5]
	(No symbol) [0x00380B3B]
	(No symbol) [0x003AE232]
	(No symbol) [0x0039A784]
	(No symbol) [0x003AC922]
	(No symbol) [0x0039A536]
	(No symbol) [0x003782DC]
	(No symbol) [0x003793DD]
	GetHandleVerifier [0x0071AABD+2539405]
	GetHandleVerifier [0x0075A78F+2800735]
	GetHandleVerifier [0x0075456C+2775612]
	GetHandleVerifier [0x005451E0+616112]
	(No symbol) [0x00455F8C]
	(No symbol) [0x00452328]
	(No symbol) [0x0045240B]
	(No symbol) [0x00444FF7]
	BaseThreadInitThunk [0x75B300C9+25]
	RtlGetAppContainerNamedObjectPath [0x77507B4E+286]
	RtlGetAppContainerNamedObjectPath [0x77507B1E+238]